
<!-- FOOTER -->
<footer class="c-footer">
    <div id="s-backtotop">
        <img src="assets/img/common/icon-arr-up.png" alt="back-to-top">
    </div>
    <div class="c-footer__top">
        <div class="c-parallax">
            <div class="parallax"
                data-parallax-image="assets/img/common/footer_bg.jpg"></div>
            <div class="c-footer__container">
                <div class="c-footer__contact">
                    <h3 class="c-footer__contacttitle">CONTACT</h3>
                    <h4 class="c-footer__contactsub">各種お問い合わせ</h4>
                    <p class="c-footer__contactcontent">
                        まずはお気軽にご連絡ください。
                        <br>
                        お急ぎの場合はお電話にてご連絡ください。
                    </p>
                </div>
                <div class="c-footer__list">
                    <a href="contact.html" class="c-footer__item">
                        <h3
                            class="c-footer__itemtitle c-footer__itemtitle--home">モデルハウス予約</h3>
                        <p
                            class="c-footer__itemcontent">まずはお気軽にモデルハウスをご見学ください。</p>
                        <div class="c-footer__itemlink">
                            <img src="assets/img/common/icon-arr-right.png"
                                alt="icon-arr">
                        </div>
                    </a>
                    <a href="contact.html" class="c-footer__item">
                        <h3
                            class="c-footer__itemtitle c-footer__itemtitle--mail">お問い合わせ・資料請求</h3>
                        <p class="c-footer__itemcontent">
                            受付時間：24時間365日
                            <br>
                            ※返信は弊社営業時間に行います。
                        </p>
                        <div class="c-footer__itemlink">
                            <img src="assets/img/common/icon-arr-right.png"
                                alt="icon-arr">
                        </div>
                    </a>
                    <a href="contact.html" class="c-footer__item">
                        <h3
                            class="c-footer__itemtitle c-footer__itemtitle--calendar">イベント情報</h3>
                        <p
                            class="c-footer__itemcontent">イベント申し込みは詳細ページをご覧ください。</p>
                        <div class="c-footer__itemlink">
                            <img src="assets/img/common/icon-arr-right.png"
                                alt="icon-arr">
                        </div>
                    </a>
                    <a href="contact.html" class="c-footer__item">
                        <h3
                            class="c-footer__itemtitle c-footer__itemtitle--question">よくある質問</h3>
                        <p
                            class="c-footer__itemcontent">みなさまからよくいただく質問をまとめて掲載しています。</p>
                        <div class="c-footer__itemlink">
                            <img src="assets/img/common/icon-arr-right.png"
                                alt="icon-arr">
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="c-footer__bg">
        <div class="l-container">
            <div class="c-footer__bottom">
                <div class="c-footer__logo">
                    <a href="index.html" class="c-footer__logolink">
                        <img src="assets/img/common/logo.png" alt="NEST HOUSE">
                    </a>
                    <p class="c-footer__logocontent">
                        株式会社ネストハウス 本社
                        <br>
                        〒740-1401 山口県岩国市由宇町3915番地
                        <br>
                        <a href="tel:0827-63-1681">TEL.0827-63-1681</a> /
                        FAX.0827-63-1696
                    </p>
                    <ul class="c-footer__logosocial">
                        <li>
                            <a href="#" target="_blank"><img
                                    src="assets/img/common/icon-ins.png"
                                    alt="icon-ins"></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"> <img
                                    src="assets/img/common/icon-fb.png"
                                    alt="icon-fb"></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><img
                                    src="assets/img/common/icon-line.png"
                                    alt="icon-line"></a>
                        </li>
                    </ul>
                </div>
                <div class="c-footer__nav">
                    <ul class="c-footer__menu">
                        <li class="c-footer__menuitem">
                            <a href="index.html#s-event">EVENT</a>
                        </li>
                        <li class="c-footer__menuitem">
                            <a href="about.html">ABOUT</a>
                            <ul class="c-footer__submenu">
                                <li>
                                    <a href="about.html">性能と構造</a>
                                </li>
                                <li>
                                    <a href="about.html">選ばれる理由</a>
                                </li>
                                <li>
                                    <a href="about.html">家づくりの流れ</a>
                                </li>
                                <li>
                                    <a href="about.html">よくある質問</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="c-footer__menu">
                        <li class="c-footer__menuitem">
                            <a href="works.html">WORKS</a>
                        </li>
                        <li class="c-footer__menuitem">
                            <a href="index.html#s-model">MODEL HOUSE</a>
                        </li>
                        <li class="c-footer__menuitem">
                            <a href="index.html#s-lineup">LINEUP</a>
                            <ul class="c-footer__submenu">
                                <li>
                                    <a href="index.html#C">FASTA</a>
                                </li>
                                <li>
                                    <a href="index.html#C">MAno</a>
                                </li>
                                <li>
                                    <a href="index.html#C">蔵掛の家</a>
                                </li>
                                <li>
                                    <a href="index.html#C">平屋</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="c-footer__menu">
                        <li class="c-footer__menuitem">
                            <a href="#">ESTATE</a>
                        </li>
                        <li class="c-footer__menuitem">
                            <a href="voice.html">VOICE</a>
                        </li>
                        <li class="c-footer__menuitem">
                            <a href="#"
                                class="c-footer__menutext">REFORM</a>
                        </li>
                        <li class="c-footer__menuitem">
                            <a href="blog.html">BLOG</a>
                        </li>
                        <li class="c-footer__menuitem">
                            <a href="#">COMPANY</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c-copyright">
                <p><a href="#">PRIVACY POLICY</a></p>
                <p>© 2023 NEST HOUSE</p>
            </div>
        </div>
        <div class="c-footer__group-btn">
            <a href="#">
                モデルハウス
                <br>
                見学予約
            </a>
            <a href="#">お問い合わせ</a>
            <a href="#">電話をかける</a>
        </div>
    </div>

</footer>
