@use '../abstracts/' as *;

/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/
.c-footer {
  position: relative;
  z-index: 99;

  .c-parallax {
    height: 100%;
    background: $black-07;

    .parallax__container {
      opacity: 0.4;
    }

    .parallax {
      min-height: 100vh;
    }
  }
  @include sp {
    padding-bottom: 60px;
  }

  &__container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1123px;
    padding: 61px 20px 60px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    @include tab {
      display: block;
      max-width: 768px;
    }

    @include sp {
      padding: 60px 38px 58px;
    }
  }

  &__top {
    position: relative;
    height: 100%;
  }

  &__bg {
    background: $white-01;
  }

  &__contact {
    color: $white-01;
    margin-top: 44px;

    @include sp {
      margin-top: 0;
    }

    &title {
      font-size: 5rem;
      font-weight: normal;
      letter-spacing: 6px;
      margin-bottom: 6px;

      @include sp {
        font-size: 3.5rem;
        letter-spacing: 4px;
      }
    }

    &sub {
      font-size: 1.6rem;
      font-family: $notosans-fonts;
      font-weight: normal;
      letter-spacing: 2px;
      margin-bottom: 39px;
      @include sp {
        font-size: 1.4rem;
        letter-spacing: 1.5px;
      }
    }

    &content {
      font-size: 14px;
      font-family: $notosans-fonts;
      line-height: 2;

      @include sp {
        line-height: 1.8;
      }
    }
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 691px;
    margin-top: 10px;

    @include tab {
      margin-top: 30px;
      max-width: 100%;
    }

    @include sp {
      margin-top: 17px;
    }
  }

  &__item {
    width: 100%;
    max-width: 340px;
    padding: 25px 21px 28px;
    margin-bottom: 10px;
    background: $white-01;
    position: relative;

    @include tab {
      max-width: 49%;
    }

    @include sp {
      max-width: 100%;
      padding: 21px 19px 25px;
      margin-bottom: 15px;
    }

    &title {
      font-size: 16px;
      font-family: $notosans-fonts;
      font-weight: normal;
      position: relative;
      color: $green-01;
      padding-right: 64px;
      padding-left: 25px;
      margin-bottom: 14px;

      @include sp {
        padding-left: 22px;
        padding-right: 38px;
        margin-bottom: 9px;
      }

      &::before {
        position: absolute;
        content: '';
        top: 3px;
        left: 0;
      }
    }

    &title--home {
      &::before {
        background: url(../../assets/img/common/icon-home.png) no-repeat;
        background-size: cover;
        width: 18px;
        height: 18px;

        @include sp {
          width: 16px;
          height: 16px;
        }
      }
    }

    &title--mail {
      &::before {
        background: url(../../assets/img/common/icon-mail.png) no-repeat;
        background-size: cover;
        width: 18px;
        height: 17px;
      }
    }

    &title--calendar {
      &::before {
        background: url(../../assets/img/common/icon-calendar.png) no-repeat;
        background-size: cover;
        width: 18px;
        height: 18px;
        @include sp {
          width: 16px;
          height: 16px;
        }
      }
    }

    &title--question {
      &::before {
        background: url(../../assets/img/common/icon-question.png) no-repeat;
        background-size: cover;
        width: 21px;
        height: 18px;

        @include sp {
          width: 17px;
          height: 14px;
        }
      }
    }

    &content {
      padding-right: 71px;
      font-family: $notosans-fonts;
      line-height: 1.6;

      @include tab {
        padding-right: 45px;
      }

      @include sp {
        font-size: 1.3rem;
        padding-right: 54px;
      }
    }

    &link {
      background: $green-01;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      top: 48px;
      right: 20px;

      @include sp {
        width: 35px;
        height: 35px;
        right: 19px;
        top: 50%;
        transform: translateY(-50%);
      }

      img {
        width: 20px;
        margin-bottom: 5px;
      }
    }
  }

  &__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 65px 0;
    @include tab {
      justify-content: center;
    }

    @include sp {
      padding: 45px 0 50px;
    }
  }

  &__logo {
    margin-top: 6px;

    @include tab {
      text-align: center;
    }

    &link {
      margin-bottom: 22px;
      display: block;

      @include sp {
        margin-bottom: 18px;
      }

      img {
        width: 240px;
      }
    }

    &content {
      font-family: $notosans-fonts;
      font-size: 1.3rem;
      line-height: 1.9;
      margin-bottom: 24px;

      a {
        pointer-events: none;
        @include tab {
          pointer-events: auto;
        }
      }

      @include sp {
        margin-bottom: 17px;
      }
    }

    &social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;

      @include tab {
        justify-content: center;
      }

      li {
        margin-right: 14px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 16px;
          height: 16px;

          @include sp {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }

  &__nav {
    width: 59.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include tabpc {
      width: 64.5%;
    }

    @include tab {
      display: none;
    }
  }

  &__menu {
    margin-right: 137px;

    &:last-child {
      margin-right: 0;
    }

    &item {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        font-size: 1.4rem;
        letter-spacing: 1.5px;
      }
    }

    &text {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        background: url(../../assets/img/common/icon-1.png) no-repeat;
        background-size: cover;
        width: 13px;
        height: 11px;
        top: 3px;
        right: -23px;
      }
    }
  }

  &__submenu {
    margin-top: 8px;
    font-family: $notosans-fonts;

    li {
      position: relative;
      margin: 0 0 8px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        display: inline-block;
        content: '-';
        font-size: 16px;
      }

      a {
        color: $black-01;
        letter-spacing: 0;
        font-weight: 400;
      }
    }
  }

  .c-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid $grey-01;
    padding: 16px 0;

    @include sp {
      display: block;
      text-align: center;
    }

    p {
      color: $grey-02;
      font-size: 1.3rem;

      &:first-child {
        @include sp {
          margin-bottom: 5px;
        }
      }

      @include sp {
        font-size: 1.2rem;
      }
    }
  }
}

#s-backtotop {
  position: fixed;
  bottom: 20px;
  right: 21px;
  width: 44px;
  height: 44px;
  background-color: $green-01;
  color: $white-01;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.3s;

  @include sp {
    bottom: 70px;
    right: 0;
  }

  img {
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
  }

  &:hover {
    background-color: $green-02;
  }
}

.c-backToTop--fixed {
  position: absolute !important;
  bottom: 100% !important;
  pointer-events: auto;
}

.c-footer__group-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: -1;
  opacity: 0;
  visibility: visible;
  transition: 0.6s;
  pointer-events: none;

  @include sp {
    z-index: 999;
  }

  a {
    width: 33.33%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: $green-01;
    color: $white-01;
    font-size: 15px;
    font-weight: bold;
    font-family: $notosans-fonts;
    border-right: 1px solid $grey-01;

    &:last-child {
      border-right: 0;
    }
  }
}

.c-footer__group-btn.is-fixed {
  @include sp {
    visibility: initial;
    opacity: 1;
    pointer-events: all;
  }
}
