@use '../abstracts' as *;

/*------------------------------------------------------------
    Base
------------------------------------------------------------*/
body {
  overflow-x: hidden;
  color: $black-01;
  background: $white-02;
  font-family: $main-fonts;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  text-size-adjust: 100%;
  word-break: break-all;

  @include sp {
    min-width: 320px;
  }
}

.sp-only {
  display: none;
}

@include sp {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}
